{% extends 'base/base-form.html' %}

{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block title %}Edit profile{% endblock %}
{% block heading %}Edit profile{% endblock %}

{% block form %}
<form method="POST" id="{{ form.helper.form_id }}" enctype="multipart/form-data">
    {% csrf_token %}
    {% crispy form %}
</form>

<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('image-preview');
            output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
{% endblock %}