{% extends 'base/base-nav.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="prose">
    <h1>{{ title }}</h1>
    {% if not items %}
    <p>No items found</p>
    {% endif %}
</div>

<div class="pt-6 mx-auto max-w-screen grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">
    {% for item in items %}
    <c-listing-card id="{{ item.id }}" username="{{ item.user.username }}" location="{{ item.location }}"
        name="{{ item.name }}" image="{{ item.image.url }}" description="{{ item.description }}"
        date="{{ item.date }}" />
    {% endfor %}
</div>
{% endblock %}