{% extends 'base/base-form.html' %}

{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block title %}Report found item{% endblock %}
{% block heading %}What have you found?{% endblock %}
{% block subheading %}Lost an item instead? <a href="{% url 'report_lost' %}">Report lost item</a>{% endblock %}

{% block form %}
<form method="POST" class="prose" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success mt-4">Submit</button>
</form>
{% endblock %}